:root {
    --primary: #1351d8;
    --secondary: #BDBDBF;
    --light: #F4F5F8;
    --dark: #222429;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 0;
    z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    margin-right: 30px;
    padding: 40px 0;
    color: var(--light);
    font-size: 17px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 36, 41, .8);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.bg-hero {
    background: linear-gradient(rgba(34, 36, 41, .8), rgba(34, 36, 41, .8)), url(../img/carousel-1.jpg) top center no-repeat;
    background-size: cover;
}

.programe::after {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 45px);
    top: 135px;
    left: 0;
    background: var(--dark);
    z-index: -1;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.2);
}

.team-item .team-overlay {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 36, 41, .9);
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .owl-item img {
    width: 90px;
    height: 90px;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.2);
}

@media (min-width: 991.98px) {
    .credit {
        background: var(--primary);
    }
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.bg-image-login-signup {
    background-image: url(../Img_Video/Login_Registration_Account/);

}


.LoginRegistrationbackgroundMenu {
    background-color: #1b1c1dbd;
}



.CarsHeader {
    background-image: url("../img/Cars/Menu/CarsHeader.jpg");
    background-repeat: no-repeat;
    background-size: 2500px 300px;
}

.setingsWalpapper {
    background-image: url("../img/Pofile/setingsWalpapper.jpg");
    background-repeat: no-repeat;
    background-size: 1910px 2000px;
}

.ProfileWalpapper {
    background-image: url("../img/Pofile/ProfileWalpapper.jpg");
    background-repeat: no-repeat;
    background-size: 1910px 2000px;
}


.LoginRegistrationbackground {
    background-image: url("../img/Login_Registration_Account/walpapper.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 2000px;
}

.ServiceWalpapper {
    background-image: url("../img/Service/walpapper.jpg");
    background-repeat: no-repeat;
    background-size: 1910px 2000px;
}

.ServiceWalpapperColor {
    background-color: #1b1c1dfd;
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: right;
}

.left {
    display: flex;
    justify-content: left;
}


.inputTransparent {
    background-color: rgba(75, 70, 70, 0.322) !important;
    border: none !important;
}

.CarMenu {
    background-color: rgba(17, 16, 16, 0.322) !important;
    border: none !important;
}

.ColorMenu {
    background-color: rgba(17, 16, 16, 0.699) !important;
    border: none !important;
    color: black;

}

.ColorMargin {
    margin-right: 50px;
    margin-left: 05px;

}


.tableConfig {
    border-spacing: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table2 {
    padding: 20px;
}


.tableConfig2 {
    border-spacing: 50px;
}


/* Iconok */

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}





/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}



/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}


.fa-instagram {
    background: #125688;
    color: white;
}

/* /Iconok */


.BodySize {
    min-height: 690px;
    ;
}

.Config {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ConfigTd {
    flex-basis: calc(100% / 3 - 10px);
    /* Az oszlopok szélessége a táblázat három részre bontása esetén */
    margin: 5px;
}

.Register {
    padding-left: 60px;
    padding-right: 60px;
}

